.logo {
    color: #000000; 
    font-family: Raleway;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;

    &__web {
        color: $accent-color;
    }

    &__studio {
        color: $white-color; 
    }
}

.footer-logo {
    margin-bottom: 20px;
}  

.header-logo {
    padding-top: 24px;
    padding-bottom: 25px;
}